link(rel='stylesheet', href='/stylesheets/carousel.css')
#bs-carousel.carousel.fade-carousel.slide(data-ride='carousel', data-interval='4000')
    // opacidad
    .overlay
    // Indices
    ol.carousel-indicators
        li.active(data-target='#bs-carousel', data-slide-to='0')
        li(data-target='#bs-carousel', data-slide-to='1')
        li(data-target='#bs-carousel', data-slide-to='2')
    // vistas 
    .carousel-inner
        .item.slides.active
            img(src='./images/5.jpg', alt='', style='width:100%;')
                
        .item.slides
            img(src='./images/6.jpg', alt='', style='width:100%;')
            .hero
                hgroup
                h1 Emprender
                h3 Descripci칩n de la imagen
                button.btn.btn-hero.btn-lg(role='button') Saber m치s...
        .item.slides
            img(src='./images/7.jpg', alt='', style='width:100%;')
            .hero
                hgroup
                h1 Empresa
                h3 Descripci칩n de la imagen
                button.btn.btn-hero.btn-lg(role='button') Saber m치s...