
link(rel='stylesheet', href='/stylesheets/tails.css')
.container-2
	#page-wrapper   
		.row
			.col-lg-2.col-sm-6
				.tiles
					a.tile(href="/users/showTable")
						img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/1.jpg")
						.details
							span.title Lorem Ipsum Dolor
							span.info Quisque vel felis lectus donec vitae dapibus magna