
link(rel='stylesheet', href='/stylesheets/tails.css')
.panels
	.tiles
		h1 Mosaicos
		hr
		a.tile(href='#')
			img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/1.jpg')
			.details
				span.title Rankings
				span.info Quisque vel felis lectus donec vitae dapibus magna
		a.tile(href='#')
			img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/2.jpg')
			.details
				span.title Las 1000 Empresas más Importantes de México
				span.info más Importantes de México
		a.tile(href='#')
			img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/3.jpg')
			.details
				span.title Noticias
				span.info Quisque vel felis lectus donec vitae dapibus magna
		a.tile(href='#')
			img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/4.jpg')
			.details
				span.title Empresas
				span.info Quisque vel felis lectus donec vitae dapibus magna
		